@import "../utils/mixins";

// media queries

@include lg {

    // home
    .mask {
        h1 {
            font-size: 3rem;
        }
    }

    .mask {
        p {
            font-size: 0.75rem;
        }
    }

    .textContainer {
        h2 {
            font-size: 2rem;
        }
    }

    .lgTitle {
        font-size: 2.4rem;
    }

    .section5 {
        .positionContainer {
            .textContainer {
                h3 {
                    font-size: 2.5rem;
                }
            }
        }
    }


    .titleFooter {
        font-size: 1.7rem;
    }

    .textFooter {
        font-size: 0.9rem;
    }

    .iconSize {
        width: 2rem;
    }

    // about us
    .backgroundHeight {
        h1 {
            font-size: 4rem;
        }
    }

    .fondoAbout {
        h2 {
            font-size: 3.5rem;
        }
    }

    .h4About {
        font-size: 2rem;
    }

    .textGrid {
        font-size: 1rem;
    }

    .circle {
        font-size: 3rem;
    }

}

@include md {

    // home
    .gridContainer {
        grid-template-rows: 1fr 0.33fr 1fr 1fr 0.4fr;
    }

    .section4 {
        .borderRadius {
            display: none;
        }
    }

    .lgTitle {
        font-size: 2rem;
    }

    .textContainer {
        h3 {
            font-size: 1.5rem;
        }
    }

    .section5 {
        .positionContainer {
            .textContainer {
                h3 {
                    font-size: 2rem;
                }
            }
        }
    }

    // about us
    .fondoAbout {
        h2 {
            font-size: 3rem;
        }

        p {
            font-size: 1.3rem;
        }
    }

    .textAbout {
        p {
            font-size: 1rem;
        }
    }

    .gridContainerAbout {
        grid-template-rows: 0.7fr 0.7fr;

        &uno,
        &dos,
        &tres,
        &cuatro {
            height: 500px;
        }
    }

    .backgroundAbout {
        h3 {
            font-size: 2.7rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .circle {
        font-size: 2.7rem;
    }

    .solutionAbout {
        h5 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .textCardAbout {
        display: none;
    }

    .heightAbout {
        height: 60vh;

        .imgCard {
            img {
                width: 80%;
            }
        }
    }

    .titleCardAbout {
        font-size: 1.3rem;
    }

    // volunteering
    .titleVolunt2 {
        font-size: 1.7rem;
    }
}

@include s {

    // home
    .mask {
        h1 {
            font-size: 2.75rem;
        }
    }

    .gridContainer {
        grid-template-areas:
            "section1"
            "section2"
            "section2"
            "section3"
            "section3"
            "section4"
            "section4"
            "section5";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .margin {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .padding {
        padding-top: 0;
    }

    // about us
    .gridContainerAbout {
        grid-template-rows: 0.6fr 0.6fr;

        &uno,
        &dos,
        &tres,
        &cuatro {
            height: 400px;
        }
    }

    .circle {
        font-size: 1.8rem;
    }

    .h4About {
        font-size: 2rem;
    }

    .textGrid {
        display: none;
    }

    .heightAbout {
        height: 155vh;

        .imgCard {
            img {
                width: 190px;
            }
        }
    }

    // volunteering
    .fondoAbout {
        .textVolunt {
            font-size: 1rem;
        }
    }

    .titleVolunt2 {
        padding-top: 1.3rem;
        padding-left: 1rem;
    }
}

@include xs {

    // home
    .gridContainer {
        grid-template-rows: 1fr 1fr 0.5fr 1fr 0.5fr 1fr 1fr 1fr;
    }

    // about ut
    .gridContainerAbout {
        grid-template-areas:
            "uno"
            "dos"
            "tres"
            "cuatro";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;

        &uno,
        &dos,
        &tres,
        &cuatro {
            height: 500px;
        }
    }

    .circle {
        font-size: 2.5rem;
    }

    .h4About {
        font-size: 2.5rem;
    }
}

@include xxs {

    // home
    .gridContainer {
        grid-template-rows: 1fr 1fr 0.5fr 1fr 0.5fr 1fr 0.8fr 1fr;
    }

    // about us 
    .fondoAbout {
        h2 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .h4About {
        font-size: 2rem;
    }

    .heightAbout {
        height: 130vh;

        .imgCard {
            img {
                width: 140px;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .styleImg .styleImg2 .styleImg3 .styleImg4 .styleImg5 {
        padding-top: 1rem;
    }

}