/* reseteo gral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f4f4;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

.btn-info {
  border-radius: 0;
  --bs-btn-bg: #0d1b2a;
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: white;
}
.btn-info a:hover {
  color: #0d1b2a;
}

.btn-primary {
  border-radius: 0;
  --bs-btn-bg: #415a77;
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: #0d1b2a;
}

.btn-light {
  --bs-btn-bg: #162e47;
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: white;
  --bs-btn-color: rgb(255, 255, 255);
  border-radius: 0;
  --bs-btn-hover-color: #162e47;
  font-size: 1.2rem;
}

.buttonsFooter {
  justify-content: start;
}

/* video de fondo pag uno */
.backgroundContainer {
  height: 100vh;
}

.mediaBackground {
  z-index: -3;
  overflow: hidden;
}

.mask {
  background-color: rgba(0, 0, 0, 0.3);
}
.mask h1 {
  font-family: "Playfair Display", serif;
  font-size: 5rem;
  color: #f3f4f4;
  text-align: center;
}
.mask p {
  color: #f3f4f4;
  font-size: 1rem;
  font-family: "ABeeZee", sans-serif;
  text-align: center;
}

/* comienzo del grid en home */
.gridContainer {
  margin-left: 3%;
  margin-right: 3%;
  display: grid;
  grid-template-areas: "section1  section2" "section3  section2" "section3  section4" "section5  section4" "section5  section4";
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 0.33fr 1fr 1fr 0.6fr;
}

/* section 1 */
.section1 {
  grid-area: section1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  padding: 8%;
}
.section1 h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  color: #0d1b2a;
  font-weight: bold;
}
.section1 p {
  font-family: "ABeeZee", sans-serif;
  font-size: 1.17rem;
  margin-bottom: 0;
}
.section1 .form-control {
  font-size: 1.2rem;
  width: 27vw;
}

/* section 2 */
.section2 {
  grid-area: section2;
  position: relative;
  width: 100%;
  height: 100%;
}

.imageBackground {
  position: absolute;
  height: 100%;
  width: 100%;
}
.imageBackground img {
  width: 100%;
  padding: 3%;
  height: 100%;
  object-fit: cover;
}

.linkButtonHome {
  color: #f3f4f4;
}

.linkButtonHome:hover {
  color: white;
}

.text-grid {
  position: absolute;
  width: 100%;
  padding: 6%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.noneStyle {
  text-decoration: none;
  font-family: "ABeeZee", sans-serif;
  list-style: none;
}

/* section 3 */
.section3 {
  grid-area: section3;
  position: relative;
}

/* section 4 */
.section4 {
  grid-area: section4;
}
.section4 .flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 5%;
}
.section4 .borderRadius {
  border-radius: 100%;
  width: 15vw;
}

/* section 5 */
.section5 {
  grid-area: section5;
  width: 100%;
  padding: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.section5 .positionContainer {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.section5 .positionContainer .imgContainer {
  position: absolute;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.section5 .positionContainer .imgContainer img {
  border-radius: 100%;
  width: 100%;
  position: absolute;
  cursor: pointer;
}
.section5 .positionContainer .textContainer {
  position: absolute;
  width: 45%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.section5 .positionContainer .textContainer h3 {
  text-align: center;
  font-size: 3rem;
  color: #f3f4f4;
  font-family: "Playfair Display", serif;
}

.lgTitle {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  color: #f3f4f4;
}

.smTitle {
  font-size: 1.7rem;
  font-family: "ABeeZee", sans-serif;
  color: #0d1b2a;
}

.smText {
  font-size: 1rem;
  font-family: "ABeeZee", sans-serif;
  color: gray;
}

.backgroundHeight {
  height: 90vh;
}
.backgroundHeight .mask2 {
  background-color: rgba(0, 0, 0, 0.514);
}
.backgroundHeight h1 {
  font-family: "Playfair Display", serif;
  font-size: 5rem;
  color: #f3f4f4;
  text-align: center;
}
.backgroundHeight p {
  color: #f3f4f4;
  font-size: 1.5rem;
  font-family: "ABeeZee", sans-serif;
  text-align: center;
}

.fondoAbout {
  height: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(226, 226, 226);
}
.fondoAbout h2 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  color: #0d1b2a;
  text-align: center;
}
.fondoAbout p {
  color: #1b263b;
  font-size: 1.5rem;
  font-family: "ABeeZee", sans-serif;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.textAbout p {
  font-family: "ABeeZee", sans-serif;
  font-size: 1.3rem;
}

.backgroundAbout {
  height: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.backgroundAbout h3 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
}
.backgroundAbout p {
  font-family: "ABeeZee", sans-serif;
  font-size: 1.3rem;
  margin-left: 10%;
  margin-right: 10%;
}

.gridContainerAbout {
  display: grid;
  grid-template-areas: "uno  dos" "tres cuatro";
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
}
.gridContainerAboutuno {
  grid-area: uno;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../../resources/images/euo-houssine-kaddachicabopulmo041_0.jpg) center no-repeat;
  background-size: cover;
  display: block;
  height: 800px;
  margin-bottom: 0px;
}
.gridContainerAboutdos {
  grid-area: dos;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../../resources/images/skimming.owja_credit_noaa.jpg) center no-repeat;
  background-size: cover;
  display: block;
  height: 800px;
  margin-bottom: 0px;
}
.gridContainerAbouttres {
  grid-area: tres;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../../resources/images/fishermen_mx.jpg) center no-repeat;
  background-size: cover;
  display: block;
  height: 800px;
  margin-bottom: 0px;
}
.gridContainerAboutcuatro {
  grid-area: cuatro;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../../resources/images/nao_oceana_melissaforsyth_img_0507.jpg) center no-repeat;
  background-size: cover;
  display: block;
  height: 800px;
  margin-bottom: 0px;
}

.h4About {
  font-family: "Playfair Display", serif;
  font-size: 2.7rem;
  color: #f3f4f4;
  text-align: start;
  margin-left: 8%;
  margin-top: 5%;
  margin-right: 8%;
}

.circle {
  font-size: 4.5rem;
  font-weight: bold;
  color: #0d1b2a;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-right: 42%;
  margin-left: 42%;
  margin-top: 10%;
}

.textGrid {
  font-family: "ABeeZee", sans-serif;
  color: #f3f4f4;
  font-size: 1.5rem;
  text-align: start;
  margin-left: 8%;
  margin-top: 2%;
  margin-right: 8%;
}

.solutionAbout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.solutionAbout h5 {
  font-family: "Playfair Display", serif;
  color: #0d1b2a;
  font-size: 3rem;
}
.solutionAbout p {
  font-size: 1.5rem;
  font-family: "ABeeZee", sans-serif;
  color: #0d1b2a;
  margin-left: 5%;
  margin-right: 5%;
}

.heightAbout {
  height: 70vh;
  margin-bottom: 3%;
}
.heightAbout .imgCard img {
  width: 220px;
}

.titleCardAbout {
  margin-top: 10px;
  font-family: "Playfair Display", serif;
  font-size: 1.75rem;
  color: #1b263b;
}

.textCardAbout {
  font-family: "ABeeZee", sans-serif;
  font-size: 1rem;
  color: #1b263b;
}

.background {
  height: 50vh;
}

.titleVolunt2, .titleTake, .titleMarine2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.styleImg0 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/download.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg14 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/fondotakeaction.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg15 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/right_whale.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg16 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/turtlee.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg17 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/Bike_AmazonHQ.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg18 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/shutterstock_1430249291.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg19 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/bp_deepwater_horizon_disaster_3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/photo_2022-12-20-17.59.55-200.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/sri-lanka-sea-turtle-rescue-and-rehabilitation-main-new1-pyo0b7gtweofhe4ss8zghf8liq3gtnyqhf1uk3ypl2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/Tanzania-Zanzibar-Teaching-Assistant-main-1-pyo235fkto7naf92ee0slscgbcxdgetdlwpyur5kau.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/01-solitary-lions-nationalgeographic_2679408.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/playa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../resources/images/photo_2022-12-20-17.59.55-200.jpeg);
}

.styleImg2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../resources/images/sri-lanka-sea-turtle-rescue-and-rehabilitation-main-new1-pyo0b7gtweofhe4ss8zghf8liq3gtnyqhf1uk3ypl2.jpg);
}

.styleImg3:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../resources/images/Tanzania-Zanzibar-Teaching-Assistant-main-1-pyo235fkto7naf92ee0slscgbcxdgetdlwpyur5kau.jpg);
}

.styleImg4:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../resources/images/01-solitary-lions-nationalgeographic_2679408.jpg);
}

.styleImg5:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../resources/images/playa.jpg);
}

.altura1 {
  height: 465px;
}

.altura2 {
  height: 200px;
}

.altura3 {
  height: 285px;
}

.altura4 {
  height: 300px;
}

.containerImg {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.containerImg button {
  position: absolute;
  display: none;
  border-radius: 0;
}

.containerImg:hover button {
  display: block;
}
.containerImg:hover .titleVolunt2, .containerImg:hover .titleTake, .containerImg:hover .titleMarine2 {
  text-align: center;
}

.titleMarine2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gridContainerMarine {
  display: grid;
  grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img7 img8";
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.gridContainerMarineImg1 {
  grid-area: img1;
}
.gridContainerMarineImg2 {
  grid-area: img2;
}
.gridContainerMarineImg3 {
  grid-area: img3;
}
.gridContainerMarineImg4 {
  grid-area: img4;
}
.gridContainerMarineImg5 {
  grid-area: img5;
}
.gridContainerMarineImg6 {
  grid-area: img6;
}
.gridContainerMarineImg7 {
  grid-area: img7;
}
.gridContainerMarineImg8 {
  grid-area: img8;
}

.styleImg6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/cephalopods.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/coral.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/marinemammals.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg9 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/ecosystems.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg10 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/fishes_alt.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg11 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/seaturtlesandreptiles.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg12 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/seabirds.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg13 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../resources/images/sharks_0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.styleImg6:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../resources/images/cephalopods.jpg);
}

.styleImg7:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../resources/images/coral.jpg);
}

.styleImg8:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../resources/images/marinemammals.jpg);
}

.styleImg9:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../resources/images/ecosystems.jpg);
}

.styleImg10:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../resources/images/fishes_alt.jpg);
}

.styleImg11:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../resources/images/seaturtlesandreptiles.jpg);
}

.styleImg12:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../resources/images/seabirds.jpg);
}

.styleImg13:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../resources/images/sharks_0.jpg);
}

.containerMarineLife {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.containerMarineLife .urlButtonMarine {
  margin-bottom: 50px;
  display: none;
  border: 1px solid #0d1b2a;
  background-color: #0d1b2a;
  color: white;
  padding: 8px;
  font-family: "ABeeZee", sans-serif;
  font-size: 1.2rem;
}

.containerMarineLife:hover .urlButtonMarine {
  display: block;
}

.textTake {
  font-family: "ABeeZee", sans-serif;
  font-size: 1.2rem;
}

.takeActionContainer button {
  border-radius: 0;
}

.h1Contact h1 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  color: #0d1b2a;
}

.prueba {
  border-left: 2px;
  border-color: black;
}

.textContact h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  color: #0d1b2a;
}
.textContact h3 {
  color: #0d1b2a;
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
}
.textContact p {
  font-family: "ABeeZee", sans-serif;
  font-size: 1.2rem;
  color: #0d1b2a;
  margin-bottom: 0;
}

/* footer */
.iconSize {
  font-size: 2.5rem;
}

.titleFooter {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.textFooter {
  font-family: "ABeeZee", sans-serif;
  font-size: 1rem;
  padding-left: 0;
}
.textFooter li {
  text-align: center;
}

.iconsFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.padding {
  padding-top: 50px;
}

.navbar2.scrolled {
  background-color: rgba(65, 90, 119, 0.5764705882);
}

.urlButton {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  width: 70px;
  text-align: center;
}

.urlButton:hover {
  color: black;
  background-color: white;
}

.urlButtonDark {
  background-color: rgb(107, 107, 107);
  color: white;
  border: 1px solid rgb(107, 107, 107);
  border-radius: 10px;
  width: 70px;
  text-align: center;
}

.urlButtonDark:hover {
  color: white;
}

.navbar ul li {
  text-align: right;
}

.navbar-toggler {
  border: 0;
  color: #f3f4f4;
  font-size: 1.8rem;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.btn-info {
  border-radius: 0;
  --bs-btn-bg: #0d1b2a;
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: white;
}
.btn-info a:hover {
  color: #0d1b2a;
}

.btn-primary {
  border-radius: 0;
  --bs-btn-bg: #415a77;
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: #0d1b2a;
}

.btn-light {
  --bs-btn-bg: #162e47;
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: white;
  --bs-btn-color: rgb(255, 255, 255);
  border-radius: 0;
  --bs-btn-hover-color: #162e47;
  font-size: 1.2rem;
}

.buttonsFooter {
  justify-content: start;
}

@media screen and (max-width: 1024px) {
  .mask h1 {
    font-size: 3rem;
  }
  .mask p {
    font-size: 0.75rem;
  }
  .textContainer h2 {
    font-size: 2rem;
  }
  .lgTitle {
    font-size: 2.4rem;
  }
  .section5 .positionContainer .textContainer h3 {
    font-size: 2.5rem;
  }
  .titleFooter {
    font-size: 1.7rem;
  }
  .textFooter {
    font-size: 0.9rem;
  }
  .iconSize {
    font-size: 2rem;
  }
  .backgroundHeight h1 {
    font-size: 4rem;
  }
  .fondoAbout h2 {
    font-size: 3.5rem;
  }
  .h4About {
    font-size: 2rem;
  }
  .textGrid {
    font-size: 1rem;
  }
  .circle {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .gridContainer {
    grid-template-rows: 1fr 0.33fr 1fr 1fr 0.1fr;
  }
  .containerUrlButton {
    display: flex;
    justify-content: flex-end;
  }
  .section1 h2 {
    font-size: 1.3rem;
  }
  .section1 p {
    font-size: 1rem;
  }
  .section1 .form-control {
    font-size: 0.9rem;
    width: 30vw;
  }
  .btn-primary {
    --bs-btn-font-size: 0.9rem;
  }
  .btn-info {
    --bs-btn-font-size: 1rem;
  }
  .section4 .borderRadius {
    display: none;
  }
  .lgTitle {
    font-size: 2rem;
  }
  .smTitle {
    font-size: 1.5rem;
  }
  .textContainer h3 {
    font-size: 1.5rem;
  }
  .section5 .positionContainer .textContainer h3 {
    font-size: 1.7rem;
  }
  .btn-light {
    font-size: 1rem;
  }
  .titleFooter {
    text-align: center;
  }
  .textFooter {
    text-align: center;
  }
  .buttonsFooter {
    justify-content: center;
  }
  .backgroundHeight h1 {
    font-size: 3rem;
  }
  .backgroundHeight p {
    font-size: 0.8rem;
  }
  .fondoAbout h2 {
    font-size: 3rem;
  }
  .fondoAbout p {
    font-size: 1.3rem;
  }
  .textAbout p {
    font-size: 1rem;
  }
  .gridContainerAbout {
    grid-template-rows: 0.7fr 0.7fr;
  }
  .gridContainerAboutuno, .gridContainerAboutdos, .gridContainerAbouttres, .gridContainerAboutcuatro {
    height: 500px;
  }
  .backgroundAbout h3 {
    font-size: 2.7rem;
  }
  .backgroundAbout p {
    font-size: 1rem;
  }
  .circle {
    font-size: 2.7rem;
  }
  .solutionAbout h5 {
    font-size: 2.5rem;
  }
  .solutionAbout p {
    font-size: 1rem;
  }
  .textCardAbout {
    display: none;
  }
  .heightAbout {
    height: 60vh;
  }
  .heightAbout .imgCard img {
    width: 80%;
  }
  .titleCardAbout {
    font-size: 1.3rem;
  }
  .titleVolunt2, .titleMarine2, .titleTake {
    font-size: 1.7rem;
  }
  .textTake {
    font-size: 1rem;
  }
  .h1Contact h1 {
    font-size: 3rem;
  }
  .textContact h2 {
    font-size: 1.5rem;
  }
  .textContact p {
    font-size: 1rem;
  }
  .menuContact {
    display: none;
  }
  .contentContact {
    border-left: none !important;
  }
}
@media screen and (max-width: 576px) {
  .mask h1 {
    font-size: 2.75rem;
  }
  .gridContainer {
    grid-template-areas: "section1" "section2" "section2" "section3" "section3" "section4" "section4" "section5";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0.9fr 1.1fr;
  }
  .smTitle {
    font-size: 1.7rem;
  }
  .lgTitle {
    font-size: 2.5rem;
  }
  .section1 h2 {
    font-size: 1.9rem;
  }
  .section1 p {
    font-size: 1.3rem;
  }
  .section1 .form-control {
    width: 58vw;
  }
  .btn-primary {
    font-size: 1.1rem;
  }
  .btn-info {
    font-size: 1.3rem;
  }
  .contentIndex {
    border: none !important;
  }
  .margin {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .padding {
    padding-top: 0;
  }
  .section5 .positionContainer .textContainer h3 {
    font-size: 2.2rem;
  }
  .gridContainerAbout {
    grid-template-rows: 0.6fr 0.6fr;
  }
  .gridContainerAboutuno, .gridContainerAboutdos, .gridContainerAbouttres, .gridContainerAboutcuatro {
    height: 400px;
  }
  .circle {
    font-size: 1.8rem;
  }
  .h4About {
    font-size: 2rem;
  }
  .textGrid {
    display: none;
  }
  .heightAbout {
    height: 155vh;
  }
  .heightAbout .imgCard img {
    width: 190px;
  }
  .fondoAbout .textVolunt {
    font-size: 1rem;
  }
  .titleVolunt2, .titleMarine2, .titleTake {
    padding-top: 1.3rem;
    padding-left: 1rem;
  }
  .containerMarineLife .urlButtonMarine {
    font-size: 1rem;
  }
}
@media screen and (max-width: 425px) {
  .gridContainer {
    grid-template-rows: 1fr 1fr 0.5fr 1fr 0.5fr 1fr 1fr 0.9fr;
  }
  .smTitle {
    font-size: 1.5rem;
  }
  .section1 h2 {
    font-size: 1.5rem;
  }
  .section1 p {
    font-size: 1.1rem;
  }
  .lgTitle {
    font-size: 2rem;
  }
  .btn-info {
    font-size: 1rem;
  }
  .section5 .positionContainer .textContainer h3 {
    font-size: 1.8rem;
  }
  .backgroundHeight p {
    margin-right: 10px;
    margin-left: 10px;
  }
  .gridContainerAbout {
    grid-template-areas: "uno" "dos" "tres" "cuatro";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .gridContainerAboutuno, .gridContainerAboutdos, .gridContainerAbouttres, .gridContainerAboutcuatro {
    height: 500px;
  }
  .circle {
    font-size: 2.5rem;
  }
  .h4About {
    font-size: 2.5rem;
  }
  .gridContainerMarine {
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .textTake {
    display: none;
  }
  .titleTake {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  .gridContainer {
    grid-template-rows: 1fr 0.7fr 0.53fr 0.73fr 0.5fr 1fr 0.7fr 1.2fr;
  }
  .section5 {
    flex-direction: column;
  }
  .section5 .positionContainer .textContainer h3 {
    font-size: 1.4rem;
  }
  .imgContainer {
    height: 400px;
  }
  .fondoAbout h2 {
    font-size: 2.5rem;
  }
  .fondoAbout p {
    font-size: 1rem;
  }
  .h4About {
    font-size: 2rem;
  }
  .heightAbout {
    height: 130vh;
  }
  .heightAbout .imgCard img {
    width: 140px;
  }
  .textVolunt {
    font-size: 0.5rem;
  }
  .h1Contact h1 {
    font-size: 2.4rem;
  }
  .textContact h2 {
    font-size: 1.3rem;
  }
  .textContact p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
