/* footer */

.iconSize {
    width: 2.5rem;
}

.titleFooter {
    font-family: $font-title;
    font-size: 2rem;
}

.textFooter {
    font-family: 'ABeeZee', sans-serif;
    font-size: 1rem;
}

.padding {
    padding-top: 50px;
}
