/* footer */

.iconSize {
   font-size: 2.5rem;
}

.titleFooter {
    font-family: $font-title;
    font-size: 2rem;
}

.textFooter {
    font-family: 'ABeeZee', sans-serif;
    font-size: 1rem;
    padding-left: 0;
    
        li {
            text-align: center; 
        }
}

.iconsFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.padding {
    padding-top: 50px;
}