@import "../utils/variables";

.navbar2.scrolled {
    background-color: #415a7793;
}

button {
    .iconDark {
        color: rgb(73, 72, 72);
    }
}

.containerUrlButton {
    display: block;
    .urlButton  {
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        width: 70px;
        text-align: center;
    }
}

.containerUrlButton:hover {
    .urlButton:hover {
        color: black;
        background-color: white;
    }
}

.urlButtonDark {
    background-color: rgb(107, 107, 107);
    color: white;
    border: 1px solid rgb(107, 107, 107);
    border-radius: 10px;
    width: 70px;
    text-align: center;
}

.urlButtonDark:hover {
    color: white;
}

.navbar {
    ul {
        li {
            text-align: right;
        }
    }
}

.navbar-toggler {
    border: 0;
    color: $color-principal;
    font-size: 1.8rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}