@mixin displayFlex($disposicion: column, $ubicacion: nowrap, $align: center, $justify: center) {
    display: flex;
    flex-direction: $disposicion;
    flex-wrap: $ubicacion;
    align-items: $align;
    justify-content: $justify;
}

// media queries
@mixin lg {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

;

@mixin md {
    @media screen and (max-width: 768px) {
        @content;
    }
}

;

@mixin s {
    @media screen and (max-width: 576px) {
        @content;
    }
}

;

@mixin xs {
    @media screen and (max-width: 425px) {
        @content;
    }
}

;

@mixin xxs {
    @media screen and (max-width: 375px) {
        @content;
    }
}

;