// variables
$color-principal: #f3f4f4;
$font-text: 'ABeeZee', sans-serif;
$font-title: 'Playfair Display', serif;
$color-secondary: #0d1b2a;

$images: (
    Img0: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)) url(../../../resources/images/download.jpg) no-repeat center,

    Img1: linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.69)) url(../../../resources/images/photo_2022-12-20-17.59.55-200.jpeg) center no-repeat,

    Img2: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)) url(../../../resources/images/sri-lanka-sea-turtle-rescue-and-rehabilitation-main-new1-pyo0b7gtweofhe4ss8zghf8liq3gtnyqhf1uk3ypl2.jpg) center no-repeat,

    Img3: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)) url(../../../resources/images/Tanzania-Zanzibar-Teaching-Assistant-main-1-pyo235fkto7naf92ee0slscgbcxdgetdlwpyur5kau.jpg) center no-repeat,

    Img4: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) url(../../../resources/images/product-5b573834dd3ab.[414].jpeg) center no-repeat,

    Img5: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) url(../../../resources/images/ecuador-conservation-product-61f40cd471430.[414].jpeg) center no-repeat,
)
