// variables
$color-principal: #f3f4f4;
$font-text: 'ABeeZee', sans-serif;
$font-title: 'Playfair Display', serif;
$color-secondary: #0d1b2a;

$images: (
    Img0: url(../../resources/images/download.jpg),

    Img1: url(../../resources/images/photo_2022-12-20-17.59.55-200.jpeg),

    Img2: url(../../resources/images/sri-lanka-sea-turtle-rescue-and-rehabilitation-main-new1-pyo0b7gtweofhe4ss8zghf8liq3gtnyqhf1uk3ypl2.jpg),

    Img3: url(../../resources/images/Tanzania-Zanzibar-Teaching-Assistant-main-1-pyo235fkto7naf92ee0slscgbcxdgetdlwpyur5kau.jpg),

    Img4: url(../../resources/images/product-5b573834dd3ab.[414].jpeg),

    Img5: url(../../resources/images/ecuador-conservation-product-61f40cd471430.[414].jpeg),

    Img6: url(../../resources/images/cephalopods.jpg),

    Img7: url(../../resources/images/coral.jpg),

    Img8: url(../../resources/images/marinemammals.jpg),

    Img9: url(../../resources/images/ecosystems.jpg),

    Img10: url(../../resources/images/fishes_alt.jpg),

    Img11: url(../../resources/images/seaturtlesandreptiles.jpg),

    Img12: url(../../resources/images/seabirds.jpg),

    Img13: url(../../resources/images/sharks_0.jpg),
);

$alturas: (1: 465px, 2: 200px, 3: 285px, 4: 300px);

