@import "../utils/variables";

// imagen de fondo
.backgroundHeight {
    height: 90vh;

    .mask2 {
        background-color: rgba(0, 0, 0, 0.514);
    }

    h1 {
        font-family: $font-title;
        font-size: 5rem;
        color: $color-principal;
        text-align: center;
    }

    p {
        color: $color-principal;
        font-size: 1.5rem;
        font-family: $font-text;
        text-align: center;
    }
}

// visión
.fondoAbout {
    height: 50vh;
    @include displayFlex();
    background-color: rgb(226, 226, 226);

    h2 {
        font-family: $font-title;
        font-size: 4rem;
        color: #0d1b2a;
        text-align: center;
    }

    p {
        color: #1b263b;
        font-size: 1.5rem;
        font-family: $font-text;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }
}

// texto principal
.textAbout {
    p {
        font-family: $font-text;
        font-size: 1.3rem;
    }
}

// fondo negro
.backgroundAbout {
    height: 50vh;
    @include displayFlex();

    h3 {
        font-family: $font-title;
        font-size: 3rem;
    }

    p {
        font-family: $font-text;
        font-size: 1.3rem;
        margin-left: 10%;
        margin-right: 10%;
    }

}


// comienzo del grid 

.gridContainerAbout {
    display: grid;
    grid-template-areas:
        "uno  dos"
        "tres cuatro";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;

    &uno {
        grid-area: uno;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../../resources/images/euo-houssine-kaddachicabopulmo041_0.jpg) center no-repeat;
        background-size: cover;
        display: block;
        height: 800px;
        margin-bottom: 0px;
    }

    &dos {
        grid-area: dos;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../../resources/images/skimming.owja_credit_noaa.jpg) center no-repeat;
        background-size: cover;
        display: block;
        height: 800px;
        margin-bottom: 0px;
    }

    &tres {
        grid-area: tres;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../../resources/images/fishermen_mx.jpg) center no-repeat;
        background-size: cover;
        display: block;
        height: 800px;
        margin-bottom: 0px;
    }


    &cuatro {
        grid-area: cuatro;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../../resources/images/nao_oceana_melissaforsyth_img_0507.jpg) center no-repeat;
        background-size: cover;
        display: block;
        height: 800px;
        margin-bottom: 0px;
    }
}

.h4About {
    font-family: $font-title;
    font-size: 2.7rem;
    color: $color-principal;
    text-align: start;
    margin-left: 8%;
    margin-top: 5%;
    margin-right: 8%;
}

.circle {
    font-size: 4.5rem;
    font-weight: bold;
    color: $color-secondary;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 42%;
    margin-left: 42%;
    margin-top: 10%;
}

.textGrid {
    font-family: $font-text;
    color: $color-principal;
    font-size: 1.5rem;
    text-align: start;
    margin-left: 8%;
    margin-top: 2%;
    margin-right: 8%;
}


// cards
.solutionAbout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 50vh;

    h5 {
        font-family: $font-title;
        color: $color-secondary;
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
        font-family: $font-text;
        color: $color-secondary;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.heightAbout {
    height: 70vh;
    margin-bottom: 3%;

    .imgCard {
        img {
            width: 220px;
        }
    }
}

.titleCardAbout {
    margin-top: 10px;
    font-family: $font-title;
    font-size: 1.75rem;
    color: #1b263b;
}

.textCardAbout {
    font-family: $font-text;
    font-size: 1rem;
    color: #1b263b;
}