.h1Contact {
    h1 {
        font-family: $font-title;
        font-size: 4rem;
        color: $color-secondary;
    }
}

.prueba {
    border-left: 2px;
    border-color: black;
}

.textContact {

    h2 {
        font-family: $font-title;
        font-size: 1.8rem;
        color: $color-secondary;
    }

    h3 {
        color: $color-secondary;
        font-size: 1.5rem;
        font-family: $font-title;
    }

    p {
        font-family: $font-text;
        font-size: 1.2rem;
        color: $color-secondary;
        margin-bottom: 0;
    }
}

.containerFormContact {
    display: grid;
    grid-template-areas:
        "texto inputs"
        "texto inputs";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;

    .containerText {
        grid-area: texto;
        background-color: $color-secondary;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;

        h3 {
            font-size: 2rem;
            font-family: $font-title;
            color: $color-principal;
        }

        p {
            font-family: $font-text;
            font-size: 1.3rem;
            color: $color-principal;
        }
    }

    .containerInputs {
        grid-area: inputs;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 100%;
        background-color: #192e44;
        width: 100%;

        label {
            font-family: $font-text;
            color: $color-principal;
        }

        .contentCheckbox {
            input {
                margin-right: 8px;
            }
        }
    }

    button {
        border-radius: 0;
        font-size: 1.3rem;
    }
}