/* video de fondo pag uno */
.backgroundContainer {
    height: 100vh;
}

.mediaBackground {
    z-index: -3;
    overflow: hidden;
}

.mask {
    background-color: rgba(0, 0, 0, 0.3);

    h1 {
        font-family: $font-title;
        font-size: 5rem;
        color: $color-principal;
        text-align: center;
    }

    p {
        color: $color-principal;
        font-size: 1rem;
        font-family: $font-text;
        text-align: center;
    }
}


/* comienzo del grid en home */
.gridContainer {
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    grid-template-areas:
        "section1  section2"
        "section3  section2"
        "section3  section4"
        "section5  section4"
        "section5  section4";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}


/* section 1 */
.section1 {
    grid-area: section1;
    @include displayFlex($align: flex-start);
    padding: 8%;
}

/* section 2 */
.section2 {
    grid-area: section2;
    position: relative;
    width: 100%;
    height: 100%;
}

.imageBackground {
    position: absolute;
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        padding: 3%;
        height: 100%;
    }
}

.text-grid {
    position: absolute;
    width: 100%;
    padding: 6%;
    @include displayFlex($justify:flex-start, $align:flex-start);
}

.noneStyle {
    text-decoration: none;
    font-family: $font-text;
    list-style: none;
}

/* section 3 */
.section3 {
    grid-area: section3;
    position: relative;

    img {
        width: 100%;
        padding: 3%;
        height: 100%;
    }
}

/* section 4 */
.section4 {
    grid-area: section4;

    .flexContainer {
        @include displayFlex($disposicion: row, $justify: space-evenly);
        padding: 5%;
    }

    .borderRadius {
        border-radius: 100%;
        width: 15vw;
    }
}

/* section 5 */
.section5 {
    grid-area: section5;
    width: 100%;
    padding: 3%;
    @include displayFlex($disposicion: row, $ubicacion: wrap);
    align-content: center;

    .positionContainer {
        position: relative;
        width: 50%;
        height: 50%;
        @include displayFlex($disposicion: row, $ubicacion: wrap);
        align-content: center;

        .imgContainer {
            position: absolute;
            width: 90%;
            height: 100%;
            @include displayFlex($disposicion: row, $ubicacion: wrap, $justify: space-between);
            img {
                border-radius: 100%;
                width: 100%;
                position: absolute;
                cursor: pointer;
            }
        }

        .textContainer {
            position: absolute;
            width: 45%;
            @include displayFlex($disposicion:row, $ubicacion: wrap);
            align-content: center;
        
            h3 {
                text-align: center;
                font-size: 3rem;
                color: $color-principal;
                font-family: $font-title;
            }
        }
    } 
}


.lgTitle {
    font-size: 3rem;
    font-family: $font-title;
    color: $color-principal;
}

.smTitle {
    font-size: 1.5rem;
    font-family: $font-text;
    color: #0d1b2a;
}

.smText {
    font-size: 1rem;
    font-family: $font-text;
    color: gray;
}