.titleMarine2 {
    @extend .titleVolunt2;
    @include displayFlex ($ubicacion: wrap);
}

.gridContainerMarine {
    display: grid;
    grid-template-areas:
        "img1 img2"
        "img3 img4"
        "img5 img6"
        "img7 img8";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    &Img1 {
        grid-area: img1;
    }

    &Img2 {
        grid-area: img2;
    }

    &Img3 {
        grid-area: img3;
    }

    &Img4 {
        grid-area: img4;
    }

    &Img5 {
        grid-area: img5;
    }

    &Img6 {
        grid-area: img6;
    }

    &Img7 {
        grid-area: img7;
    }

    &Img8 {
        grid-area: img8;
    }
}

@each $nombre,
$estilos in $images3 {
    .style#{$nombre} {
        background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), $estilos;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
    }
}

@each $nombre,
$estilos in $images3 {
    .style#{$nombre}:hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), $estilos;
    }
}

.containerMarineLife {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .urlButtonMarine {
        margin-bottom: 50px;
        display: none;
        border: 1px solid #0d1b2a;
        background-color: #0d1b2a;
        color: white;
        padding: 8px;
        font-family: $font-text;
        font-size: 1.2rem;
    }
}

.containerMarineLife:hover {
    .urlButtonMarine {
        display: block;
    }
}