// primera pagina
.background {
    height: 50vh;
}

// grid
.titleVolunt2 {
    font-family: $font-title;
    font-size: 2rem;
}

@each $nombre,
$estilos in $images {
    .style#{$nombre} {
        background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), $estilos;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
    }
}

@each $clase,
$pixeles in $alturas {
    .altura#{$clase} {
        height: $pixeles;
    }
}