// primera pagina
.background {
    height: 50vh;
}

.titleVolunt {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
}

.textVolunt {
    font-family: 'ABeeZee', sans-serif;
    font-size: 2rem;
}

// grid
.titleVolunt2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}


// prueba 
@each $nombre, $estilos in $images {
    .style#{$nombre} {
        background: $estilos;
        background-size: auto cover;
        display: block;
    }
}

.altura {
    height: 465px;
}

.altura2 {
    height: 200px;
}

.altura3 {
    height: 285px;
}

.altura4 {
    height: 300px;
}