@import "../utils/variables";

// primera pagina
.background {
    height: 50vh;
}

// grid
.titleVolunt2 {
    font-family: $font-title;
    font-size: 2rem;
}


@each $nombre,
$estilos in $images2 {
    .style#{$nombre} {
        background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), $estilos;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .containerAnimation {
            opacity: 0;
            transition: all, 1s;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            @include displayFlex ($justify: flex-end);

            .titleAnimation {
                opacity: 0;
                text-align: center;
                @extend .titleVolunt2;
            }

            button {
                position: absolute;
                opacity: 0;
                border-radius: 0;
            }
        }
    }
}

@each $nombre,
$estilos in $images2 {
    .style#{$nombre}:hover {

        .titleVolunt2 {
            opacity: 0;
        }

        .containerAnimation {
            background-image: linear-gradient(rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700));
            opacity: 1;

            button {
                opacity: 1;
            }

            .titleAnimation {
                opacity: 1;
            }
        }

    }
}


@each $clase,
$pixeles in $alturas {
    .altura#{$clase} {
        height: $pixeles;
    }
}